<h1>Listing Tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>Description</th>
    <th colspan="2"></th>
  </tr>

  <% @task.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.detail %></td>
      <td><%= link_to 'Show', tasks_path(task) %></td>
      <td><%= link_to 'Edit', edit_task_path(task) %></td>
      <td><%= link_to 'Remove',  task_path(task),
                      method: :delete,
                      data:{ confirm: 'Are you sure?'  }%></td>
    </tr>
  <% end %>


</table>